<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">

      <div class="trigger">
          <a class="page-link" href="/about/index.html">About</a>
          <a class="page-link" href="/calendar/index.html">Calendar</a>
          <a class="page-link" href="/officers/index.html">Officers</a>
          <a class="page-link">//</a>
          <a class="page-link" href="/events/code-at-night/index.html">Code@Night</a>
          <a class="page-link" href="/competitions/index.html">Competitions</a>
          <a class="page-link" href="/events/teddy/index.html">Teddy Bear Programming</a>
          <a class="page-link" href="/events/coffee/index.html">Coffee Chat</a>
      </div>

    </nav>

  </div>

</header>
