:root {
    --default-left-padding: 180px;
}

html {
  scroll-behavior: smooth;
}

body {
    margin:0;
    border:0;
    font-family:$font;
    color:$text;
    -webkit-font-smoothing:antialiased;
    text-rendering:optimizelegibility;
    font-size:20px;
}

.home-header {
    width: 100%;
    /*background-image: url('/images/cover.jpg');
    /*background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 400px;*/
    padding-bottom: 75px;
}

.word-rotator {
    font-size: 40px;
    color: #2b2d2f;
    top: 50%;
    padding-top: 75px;
    //padding-left: calc(10% + min(5%, 80px));
    padding-left: calc(var(--default-left-padding) + 10px);
    display: inline-block;
}

.home-header-img {
    display: inline-block;
    position: absolute; 
    width: 540px;
    padding-top: 45px;
    padding-left: 135px;
}

.rotating-word span {
    position: absolute;
    overflow: hidden;
    animation: animate 14s linear infinite;
    opacity: 0;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    2% {
        opacity: 1;
        transform: translateY(0px);
    }
    14% {
        opacity: 1;
        transform: translateY(0px);
    }
    16% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 0;
        transform: translateY(50px);
    }
}

.rotating-word span:nth-child(1) {
    animation-delay: 0;
}
.rotating-word span:nth-child(2) {
    animation-delay: 2s;
}
.rotating-word span:nth-child(3) {
    animation-delay: 4s;
}
.rotating-word span:nth-child(4) {
    animation-delay: 6s;
}
.rotating-word span:nth-child(5) {
    animation-delay: 8s;
}
.rotating-word span:nth-child(6) {
    animation-delay: 10s;
}
.rotating-word span:nth-child(7) {
    animation-delay: 12s;
}

.rotating-word em {
    color: white;
}

.homepage-subheading {
    max-width: 500px;
    font-size: 20px;
    text-align: justify;
    margin: 20px 0 30px 0;
}

.homepage-btn-primary {
    width: 150px;
    height: 100px;
    border-radius: 100px;
    font-size: 20px;
    background: #f58025;
    background-color: #f58025;
    padding: 0.7em 1.4em;
    color: #2b2d2f;
}

.homepage-btn-secondary {
    font-size: 20px;
    padding: 0.7em 1.4em;
    color: #2b2d2f;
}

.homepage-btn-primary-inverted {
    width: 150px;
    height: 100px;
    border-radius: 100px;
    border: 1px solid #f58025;
    font-size: 20px;
    background: transparent;
    background-color: transparent;
    padding: 0.7em 1.4em;
    color: #f58025;
}

.arrow {
    border: solid #2b2d2f;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3.5px;
    position: relative;
    top: -2px;
}

.arrow-orange {
    border: solid #f58025;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3.5px;
    position: relative;
    top: -2px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.cover {
  width: auto ;
  max-width: 100% ;
  max-height: 300px; ;
}

.news-sub {
    margin-top: 20px;
}

.is-visible {
    .site-nav {
        top:100px;
    }

    .top-nav {
        opacity:1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        transition:0.3s all ease;
        top:-200px;
    }
}

h1, h2, h3, h4, h5 {
    color:#2b2d2f;
}

h1, h2 {
    font-family:$fontheadings;
}

a {
    color:$accent;
    text-decoration:none;
    transition:all 0.2s ease;

    &:hover {
        color:darken($accent, 50%);
        text-decoration:none;
    }
}

.container {
    max-width: 1300px;
    padding-left: var(--default-left-padding);
    float: left;
}

.article-cover {
    max-width: 100%;
    margin-top: 0;
    position: relative;
    max-height:460px;
    overflow:hidden;
    background:#eee;

    > div {
        max-height: 480px;
        line-height: 0;
    }

    .image {
        width: 100%;
        top: 0;
        position:relative;
    }
}

article {
    p {
        white-space: pre;           /* CSS 2.0 */
        white-space: pre-wrap;      /* CSS 2.1 */
        white-space: pre-line;      /* CSS 3.0 */
        white-space: -pre-wrap;     /* Opera 4-6 */
        white-space: -o-pre-wrap;   /* Opera 7 */
        white-space: -moz-pre-wrap; /* Mozilla */
        white-space: -hp-pre-wrap;  /* HP Printers */
        word-wrap: break-word;      /* IE 5+ */
    }
}

.index {
    margin:0 5em;

    > div{
        display:table-cell;
    }

    .title {
        margin:0em 0 0.6em;
    }

    .avatar {
        float:left;
        border-radius:62px;
        height:48px;
        width:48px;
        margin-top:0;
        margin-right:30px;
    }
}

.pagination {
    text-align:center;
}

.site-footer {
    padding:3em 0;
    margin:4em 0 0 0;
    background:whitesmoke;;
    color:#aaa;
    font-size:0.8em;
    float: left;
    width: 100%;

    a {
        color:#777;
        border:0;
        margin:0 0.5em;

        &:hover {
            color:#222;
        }
    }

    p {
        color:#999;
        a {
            margin:0;
            color:#999;
        }
    }

    nav {
       display:inline-block;
    }

    .social {
        float:right;

        a {
            color:#000;
            border:0;
            width:36px;
            height:36px;
            border:2px solid rgba(0,0,0,1);
            display:inline-block;
            padding:10px 0;
            border-radius:42px;
            margin:0 1em 0em 0;
            transition:0.2s all ease;
            line-height:0;
            text-align:center;
            opacity:0.3;

            &:hover {
                opacity:0.9;
            }
        }
    }
}

.muted {
    color:$textmuted;
}

.btn {
    color:#fff;
    font-weight:bold;
    background-color:#f58025;
    font-size:1em;
    padding: 0.6em 1.2em;
    display: inline-block;
    position: relative;
    border: 0;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight:600;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    vertical-align: bottom;
    text-rendering: optimizeLegibility;
    border-radius: 2px;
    vertical-align:middle;
    border-radius:2px;
    background:#f58025;
    white-space:nowrap;

    &:hover {
        background:darken(#f58025, 10%);
        border-color:darken(#f58025, 10%);
        color:#fff;
    }

    &:active {
        box-shadow:none;
    }
}

.btn-outline {
    background: none;
    border-radius: 4px;
    font-size: 0.8em;
    border:2px solid $accent;
    border-radius: 3px;
    color:darken($accent, 5%);
    transition:none;

    &:hover {
        border:2px solid darken($accent, 5%);
        color:darken($accent, 10%);
        background:none;
    }
}

iframe {
    margin: 0 auto;
    display: block;
}

.officer-image {
    max-width: 50%;
    margin: 0 auto;
    display: block;
    padding-top: 3%;
}

@media (max-width: 991px) {
  .announcements h2 {
    border-bottom: none;
  }
}

/* CSS for sponsorship banner */

.sponsorship-banner {
  height: 350px;
  width: 100%;
  background-color: #3f3f3f;
}

.normal-size {
    font-size: 20px;
}

.no-justify {
    text-align: left;
}