$white: #fff;
$black: #2e2e2e;
$gray: #787878;
$highlight: #ea8478;
$footer: #f7f7f7;

.homepage-gallery {
  margin-top: 50px;
  height: 1260px;
}

.picture-gallery {

    .small-side-pad { padding-left: 10px; padding-right: 10px; }

    * {
        box-sizing: border-box;
        &::before, &::after {
            box-sizing: border-box;
        }
    }

    body {
        font-family: 'Helvetica', sans-serif;
        font-size: 1.125rem;
        line-height: 1.5;
        color: $gray;
        background: $white;
        text-rendering: optimizeLegibility;
    }

    ul li {
    margin: 0 1.5rem 0 0;
    }

    a {
    color: $gray;
    text-decoration: none;
    transition: all 0.2s ease;
    &:hover {
        color: $black;
    }
    &.active {
        color: $black;
    }
    }

    #highlight {
    color: $highlight;
    font-size: 1.25rem;
    }

    .gallery {
    padding: 0 0 4rem 0;
    }

    .img-container {
    width: 100%;
    height: 400px;
    cursor: pointer;
    overflow: hidden;
        &:hover .img-content-hover {
            display: block;
        }
    }

    img {
        width: 100%;
        height: 500px;
            object-fit: cover;
        transform: scale(1);
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.05);
        }
    }

    .img-content-hover {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        white-space: nowrap;
        display: none;
        padding: 1rem;
        background: $white;
        font-weight: 400;
        margin-top: 1.25rem;
        margin-left: -2rem;
    }

    .title {
    color: $black;
    font-size: 1.5rem;
    font-weight: 700;
    }

    .category {
    font-size: 1rem;
    color: $gray;
    }

    .img-content {
    display: none;
    }

    @supports (display: grid) {
    .gallery .grid {
        grid-gap: 1rem;
    }
    }

    @media screen and (max-width: 1024px) {
        img:hover {
            transform: none;
        }
        
        .img-container {
            height: 100%;
            &:hover .img-content-hover {
            display: none;
            }
        }

        .img-content {
            display: block;
            padding: 1rem 0;
        }

    }

    .gallery-caption-1 {
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
    }

    .gallery-caption-2 {
        background-color: rgba(51,51,51,0.8);
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        position: relative;
        color: #fff;
        z-index: 100;
        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        -ms-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
        left: 0;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.accordion-gallery {

    $optionDefaultColours: #ED5565,#FC6E51,#FFCE54,#2ECC71,#5D9CEC,#AC92EC;

    display: block;
    position: relative;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-top: 50px;
    margin-bottom: 65px;
    margin-left: 60px;
    
    font-family: 'Roboto', sans-serif;

    .credit {
        position: absolute;
        bottom:20px;
        left:20px;
        
        color:#000;
    }
    .options {
        display:flex;
        flex-direction:row;
        align-items:stretch;
        overflow:hidden;

        min-width:600px;
        max-width:900px;
        width:calc(100% - 100px);
        
        height:400px;
        
        @for $i from 1 through 4 {
            @media screen and (max-width:798px - $i*80) {
                min-width:600px - $i*80;
                .option:nth-child(#{6-$i}) {
                display:none;
                }
            }
        }
        
        .option {
            position: relative;
            overflow:hidden;

            min-width:60px;
            margin:10px;
            //border:0px solid --defaultColor;

            background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
            background-size:auto 120%;
            background-position:center;

            cursor: pointer;

            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

            @for $i from 1 through length($optionDefaultColours) {
                &:nth-child(#{$i}) {
                --defaultBackground:#{nth($optionDefaultColours, $i)};
                }
            }
            &.active {
                flex-grow:10000;
                transform:scale(1);
                
                max-width:600px;
                margin:0px;
                border-radius:40px;
                
                background-size:auto 100%;
                .shadow {
                box-shadow:inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
                }
                .label {
                bottom:20px;
                left:20px;
                .info >div {
                    left:0px;
                    opacity:1;
                }
                }
                /*&:active {
                transform:scale(0.9);
                }*/
            }
            &:not(.active) {
                flex-grow:1;
                
                border-radius:30px;
                .shadow {
                bottom:-40px;
                box-shadow:inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
                }
                .label {
                bottom:10px;
                left:10px;
                .info >div {
                    left:20px;
                    opacity:0;
                }
                }
            }
            .shadow {
                position: absolute;
                bottom:0px;
                left:0px;
                right:0px;
                
                height:120px;
                
                transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            }
            .label {
                display:flex;
                position: absolute;
                right:0px;

                height:40px;
                transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                .icon {
                display:flex;
                flex-direction:row;
                justify-content:center;
                align-items:center;
                
                min-width:40px;
                max-width:40px;
                height:40px;
                border-radius:100%;

                background-color:white;
                color:var(--defaultBackground);
                }
                .info {
                display:flex;
                flex-direction:column;
                justify-content:center;
                
                margin-left:10px;
                
                color:white;
                
                white-space: pre;
                >div {
                    position: relative;
                    
                    transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
                }
                .main {
                    font-weight:bold;
                    font-size:1.2rem;
                }
                .sub {
                    transition-delay:.1s;
                }
                }
            }
        }
    }
} 